<% if (
        theme.comment.system==='utterance' &&
        theme.comment.config.utterance.repo &&
        theme.comment.config.utterance.issue-term &&
        theme.comment.config.utterance.label
    ) { %>
    <div id="utterance-container"></div>
    <script <%= theme.global.single_page === true && 'data-swup-reload-script' %> defer>
        async function loadUtterance() {
            const utteranceConfig = {
                'src': 'https://utterance.es/client.js',
                'repo': '<%= theme.comment.config.utterance.repo %>',
                'issue-term': '<%= theme.comment.config.utterance.issue-term %>',
                'label': '<%= theme.comment.config.utterance.label %>',
                'theme': 'preferred_color_scheme',
                'crossorigin': 'anonymous',
                'async': true
            }
            const utteranceScript = document.createElement('script');
            for (const key in utteranceConfig) {
                utteranceScript.setAttribute(key, utteranceConfig[key]);
            }
            document.getElementById('utterance-container').appendChild(utteranceScript);
        }
        if ('<%= theme.global.single_page %>') {
            let loadUtteranceTimeout = setTimeout(() => {
                loadUtterance();
                clearTimeout(loadUtteranceTimeout);
            }, 1000);
        } else {
            document.addEventListener('DOMContentLoaded', loadUtterance);
        }
    </script>
<% } %>
